<h1>Dish: <%= @dish.name %></h1>

<h3>Ingredients:</h3>
<% @dish.ingredients.each do |ingredient| %>
  <h3><li><%= ingredient.name %></li></h3>

  <h3>Chef:</h3>
  <%= @dish.chef.name  %>
<% end %>

<h3>Total Calories: <%= @dish.total_calories %></h3>
